
 .design{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 15px 0;
        
        .line{
          height: 4px;
          width: 80px;
          background-color: white;
        }
        i{

          color: white;
        }
      }