
.con{
    background-color: white;
    width: 100%;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    .header{

        h2{
            font-size: 50px;
            font-weight: 600;
            color: #212529;
        }
    }

     .design{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        
        .line{
          height: 4px;
          width: 80px;
          background-color: black;
        }
        i{

          color: black;
        }
      }

    form{
        width: 100%;
        

        input{
            width: 100%;
            margin: 20px auto;
        }

        .btn{
            width: max-content;
           
            button{
                border: none;
                background-color: #1ABC9C;
                color: white;
                border-radius: 10px;
                padding: 6px 14px ;
                
            }
        }
    }


    
}
